<%- include('header') -%>
You are currently reading the EJS Page.We are regular html files but javascript can be embedded
I am awesome!!
<div id="root">
<%= content %>
</div>
<%- include('footer') -%>
