.ContestPreview {
  margin: 1em;
  border: 1px solid blue; }
  .ContestPreview .category-name {
    border-bottom: 1px solid red;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .ContestPreview .contest-name {
    padding: 0.5em; }
